/* General Setting */
:root{
    /* Color */
    --color--primary: #ffdf1a;
    --color--secondary: #0065B3;
    --color--accent: #f33;
    --color--font: #000;
    --color--font--info: #fff;
    --color--border: #75736d;
    /* Duration */
    --transition--show: 0.2s;
    --transition--color: 0.1s;
    --transition--scale: 0.3s;
}
html {
    font-size: 62.5%;
    font-family: 'Inter', sans-serif;
    font-family: 'Noto Sans', sans-serif;
}
a {
    text-decoration: none;
    color: inherit;
}
ul {
    list-style-type: none;
}
/* icon */
.icon {
    width: 2rem;
    height: 3rem;
}
.icon__sidenav {
    padding: 1rem;
}
/* Button */
.btn__nav {
    cursor: pointer;
}
.btn__nav:hover {
    color: var(--color--secondary);
    fill: var(--color--secondary);
    transform: scale(1.1);
    transition: color var(--transition--color);
    transition: transform var(--transition--scale);
}
/* Image */
img {
    width: 40%;
    
}
/* Grid */
.grid {
    display: grid;
    grid-template-columns: repeat(auto, fr);
    justify-content: center;
    margin: 1rem;
    gap: 4rem;
    top: 0;
}
/* Top Navigation Bar */
.topnav{
    font-size: 1.4rem;
    background-color: var(--color--primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 3;
}
.nav__container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.nav__item {
    padding: 1rem;
}
.nav__item:first-child {
    margin-left: 1rem;
}
.nav__item:last-child {
    margin-right: 1rem;
}
.nav__tag {
    white-space: nowrap;
}
.nav__icon {
    margin: 1rem;
}
.nav__hidden {
    display: none;
}
@media screen and (min-width: 768px) {
    .nav__container .nav__hidden {
        display: block;
    }
    .nav__icon--hidden {
        display: none;
    }
}
/* Search */
.search-bar {
    background-color: var(--color--primary);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 3rem;
    border-radius: 15px;
    position: relative;
    outline: none;
    overflow: hidden;
}
.search-bar--active {
    background-color: #fff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    border-radius: 15px;
    position: relative;
    outline: none;
    transition: var(--transition--show);
}
.search__btn {
    margin: 0 0.5rem; 
    position: absolute;
}
.search-box {
    visibility: hidden;
}
.search-box--active {
    border: none;
    margin: 0.5rem;
    width: 100%;
    outline: none;
    visibility: visible;
}
@media screen and (min-width: 768px) {
    .search-bar--active {
        width: 40%;
    }
}
/* Side Navigation Bar */
.sidenav {
    display: none;
}
.sidenav--active {
    background-color: #fff;
    display: block;
    font-size: 1.4rem;
    width: 20rem;
    height: 100%;
    border-right: 2px solid var(--color--border);
    position: fixed;
    top: 0;
}
.sidenav__container {
    margin: 4rem 0;
}
.sidenav__container:first-of-type {
    margin-top: 11rem;
}
.sidenav__tag {
    display: flex;
    align-items: center;
}
.sidenav__content {
    padding-left: 1rem;
}
@media screen and (min-width: 768px) {
    .sidenav--active {
        display: none;
    }
}
/* Info */
.info {
    top: 0;
}
.info__container {
    font-size: 1.4rem;
    font-weight: 100;
    font-style: none;
    position: relative;
}
.info__container:hover {
    opacity: 0.8;
}
.info__img {
    width: 40vh;
    height: 25vh;
}
.info__tag {
    background-color: #000;
    color: var(--color--font--info);
    letter-spacing: 2px;
    padding: 0.5rem;
    margin: 1rem;
    position: absolute;
    bottom: 0;
}